#error_explanation {
    padding-bottom: 36px;

    &>h2 {
        @media (max-width: 500px) {
            font-size: 1.25rem
        }
    }
}

.wrap-contact100 {
    flex-direction: column;

    & ul {
        margin-top: 10px;
        margin-left: 30px;
    }

    & li {
        list-style-type: disc;

    }

    @media (min-width: 1200px) {
        & .form-container {
            width: 55%;

            & p {
                font-size: 1rem;
                margin-bottom: 3px;
            }
        }
    }
}

.container-contact100-form-btn {
    margin-bottom: 1.5rem;
}