<p>こんにちは <%= @resource.name %>!</p>

<p>誰かがあなたのパスワードを変更するためのリンクをリクエストしました。<p>
<p>下のリンクから変更することができます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいリンクを作成するまで、パスワードは変更されません。</p>
<pre>
----------------------------------
ご不明な点はまずこちらをご覧ください。
URL(現在未設定、少々お時間いただきます。)
お問い合わせはこちらから
URL(現在未設定、少々お時間いただきます。)
-------------------CARSIDE-----
</pre>
